<!DOCTYPE html>
<html>
<head>
    <title>ClassMonitor</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="my-4 text-center">Welcome to ClassMonitor</h1>
        <nav>
            <ul class="nav nav-pills justify-content-center">
                <li class="nav-item"><a class="nav-link" href="{{ url_for('add_student') }}">Add Student</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('view_attendance') }}">View Attendance</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('mark_attendance') }}">Mark Attendance</a></li>
            </ul>
        </nav>
    </div>
</body>
</html>
